<% @dashboard.years.each do |year| %>
  <div class='dashboard-year'>
    <h3><%= year.label %></h3>
    <table class="table">
      <thead>
        <th>Month</th>
        <th>Photo Count</th>
        <th>&nbsp;</th>
      </thead>
      <tbody>
        <% year.months.each do |month| %>
          <tr>
            <td><%= month.label %></td>
            <td><%= month.media_count %></td>
            <td><%= render partial: "dashboards/month/#{month.template}", object: month %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
