<div>
  <h3>$3</h3>
  <%= link_to "Just this month", report_order_path(@report), class: 'btn btn-warning', method: :put %>
</div>

<div>
  <h3>$20</h3>
  <%= link_to "Complete Archive", report_archive_path(@report), class: 'btn btn-warning', method: :put %>
</div>
